/* font-family: 'Roboto', sans-serif; */

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-400);
  line-height: 1.5;
  color: #151515;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  border: 2px solid black;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

header {
  padding: 1rem 0;
  text-align: center;
}

.color-select-container {
  padding: 1rem .5em;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}



/* color selection section styles */
input,
select,
button {
  height: 2.625rem;
  border-radius: 5px;
}

#color-input {
  border: 2px solid #ddd;
  background-color: #fff;
  width: 60px;
}

#scheme-select {
  flex-grow: 2;
  border: 2px solid #ddd;
}

#get-scheme-btn {
  outline: none;
  border: 2px solid #ddd;
  padding: 0 1rem;
  cursor: pointer;
  background-color: #fff;
}

#get-scheme-btn:hover {
  background-color: #ddd;
}

#get-schem-btn:active {
  transform: translate(0, 0.3rem);
}


/* ******************************** */
/* *          COLOR BARS          * */
/* ******************************** */

.color-result-container {
  width: 100%;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-template-rows: 60vh 5vh;
}

.color-bar {
  grid-row: 1 / 2;
}

.hex-code-div {
  grid-row: 2 / 3;
  justify-content: center;
  align-items: center;
}

.hex-code-div p:hover,
.hex-code-div p:active {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
}