/* font-family: 'Roboto', sans-serif; */

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-400);
  line-height: 1.5;
  color: #fff;
  background-color: #1F293A;
}

main {
  padding: 0 .5rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  border: 3px solid #ddd;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

header {
  padding: 1rem 0;
  text-align: center;
}

h1 {
  font-size: 1.75em;
}

.color-select-container {
  padding: 1.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}


/* color selection section styles */
input,
select,
button {
  height: 2.625rem;
  border-radius: 5px;
}

#color-input {
  /* border: 2px solid #ddd; */
  background-color: #ddd;
  width: 60px;
}

select {
  border: 2px solid #ddd;
  padding-left: .25rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #fff;
  background: transparent;
}

#scheme-select {
  flex-grow: 2;
}

#count-select {
  
}

#get-scheme-btn {
  flex-grow: 2;
  outline: none;
  border: 2px solid #ddd;
  padding: 0 1rem;
  cursor: pointer;
  color: #1F293A;
  background-color: #ddd;
}

#get-scheme-btn:hover {
  color: #fff;
  background-color: #1F293A;
  border: 2px solid #fff;
}

#get-scheme-btn:active {
  transform: translate(0, 0.3rem);
}


/* Color Scheme Bars and Hex Codes */
.color-result-container {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-template-rows: 60vh 5vh;
}

.color-bar {
  grid-row: 1 / 2;
}

.hex-code-div {
  grid-row: 2 / 3;
  justify-content: center;
  align-items: center;
}

.hex-code-div p {
  font-size: 11px;
}

.hex-code-div p:hover,
.hex-code-div p:active {
  cursor: pointer;
  font-weight: 700;
}

@media (min-width: 40em) {

  h1 {
    font-size: 2.25em;
  }

  #get-scheme-btn {
    flex-grow: 1;
  }

  .color-result-container {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  }

  .hex-code-div p {
    font-size: 1rem;
  }

  
}